body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #EAECF0;
    font-family: "Times New Roman", Georgia, serif;
}

header {
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    width: 100%;
    text-align: center;
    float: right;
}


.mainContainer {
    background-color: #8C92CD;
    color: #1E2140;
    padding: 0px 10px 10px 10px;
    margin: -5px 0px 0px 0px;
}


a {
    text-decoration: none;
}

a:hover {
    color: rgb(236, 46, 103);
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url('../img/menu-icon.png') center;
}


ul {
    padding-right: 40px;
}

.menuMain li {
    display: inline-block;
    width: 19%;
    text-align: center;
    padding: 11px;
    border: 1px solid black;
    font-family:Arial
}

.menuMain a:hover {
    color: red;
}

.current {
    color: #2262AD;
}


.oneSection {
    position:relative;
    padding: 20px 0 0 0;
}

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    background-color: #8C92CD;
}

.sectionTitleLine {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
}

.containerframework {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.framework {
    padding: 10px;
    width: 32%;
}

.frameworkIcon {
    width: 100px;
    height: 100px;
}

div.social {
    width: 33%;
}

.contact-form {
    margin: 0 auto;
    text-align: center;
    width: 85%;
    
}

.inputField{
    margin:10px;
}

footer {
    padding: 15px;
    margin: 0;
    background-color:  #4c348a;
    color: white;
    text-align: center;
}

i.fa  {
    position: fixed;
    top: 80%;
    left: 90%;
    font-size: 5em;
    cursor: pointer;
    color:#4c348a;
    
}

.hiddenDialog {
    display: none;
}

#thank-dialog {
    position: fixed;
    top: 80%;
    background-color: #77f99e;
}
#error-dialog {
    position: fixed;
    top: 80%;
    background-color: #F44336;
}


@media (min-width:655px) {
    .btn-submit {
        display: block;
        position: relative;
        left: 65%;
        width: 30%;
        padding: .1rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        color: #fff;
        background-color: #4c348a;
        border-color: #4c348a;
    }
}

@media (max-width:655px) {
    div.social {
        width: 100%;
        padding: 10px 0;
    }
    div.socialIcons {
        display: block;
        width: 100%;
    }
    
    .btn-submit{
    display: block;
    position: relative;
    width: 100%;
    padding: .1rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #4c348a;
    border-color: #4c348a;
    }
}


.social img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.socialIcons {
    display: flex;
    width: 100%;
}


@media only screen and (max-width: 655px) {
    header {
        position: absolute;
    }

    #menu-icon {
        display: inline-block;
    }

    nav {
        text-align: right;
    }

    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 3px solid #444;
        right: 2px;
        top: 36px;
        width: 40%;
        border-radius: 4px 0 4px 4px;
    }

    nav .menuMain li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        border: none;
        
    }

    nav:hover ul {
        display: block;
    }

    .containerframework {
        flex-direction: column-reverse;
    }

    .framework {
        padding: 20px;
        width: 80%;
    }
}
